@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  color: #0CF;
}

.bgLines{
  width: 25rem;
  position: absolute;
  top: 35rem;
  left: 0;
}

p{
  font-size: 1.2rem;
}

h1{
  font-size: 1.6rem;
  text-align: center;
}

h2, h3, h4{
  text-align: center;
  font-size: 1.4rem;
}

a{
  color: #0CF;
  text-decoration: none;
}

td{
  text-align: center;
}

th{
  font-size: 1.8rem;
}

table{
  font-size: 1.6rem;
}